<h1><%= t "pass_reset" %></h1>

<p><%= t "tolink" %></p>
<%= link_to t("tolink"), edit_password_reset_url(@user.reset_token,
  email: @user.email) %>
<p><%= t "pwtext" %></p>
<p><%= t "pwtext2" %></p>
